.register-form {
  line-height: 1.4;
  margin-right: -2em;
}
.form-group {
  background-color: #F6DDCE;
  margin-bottom: 1em;
  padding: 10px;
}
.form-group ul {  
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}
.register-form {
  display: flex;
  flex-wrap: wrap;
}
.form-group {
  flex: 1 0 300px;
  margin-right: 2em;
}

.form-group li {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: .5em;
}

.form-submit {
  flex: 0 0 100%;
}

.form-fields input[type='text'],
.form-fields input[type='tel'],
.form-fields input[type='url'],
.form-fields input[type='email'],
.form-fields input[type='number'],
.form-fields select {
  flex: 1 0 230px;
}
.form-fields label {
  flex: 1 0 90px;
  max-width: 200px;
}

.form-group h3 {
  margin-bottom: 1em;
}

.form-fields input[type='text'],
.form-fields input[type='tel'],
.form-fields input[type='url'],
.form-fields input[type='email'],
.form-fields input[type='number'],
.form-fields select {
  box-sizing: border-box;
  padding: .6em .8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: .9em;
  text-decoration: none;
  line-height: normal;
  max-height: 3em;
}

.form-fields input[type='text']:focus,
.form-fields input[type='tel']:focus,
.form-fields input[type='url']:focus,
.form-fields input[type='email']:focus,
.form-fields input[type='number']:focus,
.form-food textarea:focus,
.form-fields select:focus {
  color: #333;
  border: 1px solid #C17CCF;
  outline: none;
  background: #f2f2f2;
}
.form-food textarea{
  display: block;
  box-sizing: border-box;
  font: .9em Lato, Helvetica, sans-serif;
  width: 90%;
  height: 6em;
  overflow: auto;
  padding: .6em .8em;
  color: #999;
  background: #f7f7f7;
  border: 1px solid #e1e1e1;
  line-height: normal;
}
.register-btn {
  border-radius: 0px 2px 2px 0px;
  box-sizing: content-box;
  background: #88798C;
  font-weight: 300;
  text-transform: upppercase;
  color: white;
  padding: .35em .75em;
  border: none;
  font-size: 1.1em;
}
.register-btn:hover, .register-btn:focus {
  background: #C17CCF;
}
.form-skills, .form-workshop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-skills li {
  width: 145px;
}
.form-workshop li {
  flex: 1 0 200px;
}